<!doctype html>
<html lang="en" ng-app="picker">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Picker</title>
    <link rel="stylesheet" href="http://evernote.com/media/css/fonts_english_only.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  </head>
  <body ng-controller="mainCtrl">

    <section>
      <div class="row">
        <div class="large-12 columns">
          <div class="container">
            <header><h1>Evernote Tees</h1></header>
            <div class="row">
              <div class="cart large-7 columns large-push-5">
                <div class="product" ng-repeat="item in selectItems" ng-show="currentItem($index)"> 
                  <img ng-src="{{ item.image }}">
                  <div class="row collapse">
                    <div class="details large-12 columns">
                      <h3 class="left">{{ item.price_cents | cents | currency }} <span>{{ item.display_name }}</span></h3>
                    </div>
                  </div>
                </div>
                <form name="buyForm" ng-submit="buyItem()" novalidate>
                  <input type="text" name="item_id" value="{{ sampleData.id }}" ng-model="formData.item_id"/>
                  <input type="text" name="variant_id" value="{{ sampleData.variants[product].id }}" ng-model="formData.variant_id"/>
                  <button class="btn right" href="#">Buy</button>
                </form>
              </div>
              <aside class="select-tee large-5 columns large-pull-7">
                <h2>Select a Tee</h2>
                <ul>
                  <li class="left" ng-repeat="item in selectItems" ng-class="{active: $index == product}"><a href="#" ng-click="showItem($index)"><img ng-src="{{ item.image_thumbnail }}" alt="{{ item.display_name }}"/></a></li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/app.js"></script>
  </body>
</html>